.companyLogos {
  border: 5px solid #f8e32d;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 4rem 0;
  background-color: #f8f9fa;
  text-align: center;
}

.partnerShipTitle {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 20px;
}

.companyLogo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  transition: transform 0.2s;
}

.companyLogo:hover {
  transform: scale(1.1);
}
